.list{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;  
    flex-wrap: wrap;
    font-family: "Roboto";
    
} 
@media (min-width:768px){
    .list{
        display: flex; 
        flex-direction: row; 
        justify-content: space-between; 
        width:650px;
        font-family: "Roboto";
    }
} 
.cardSide{
    display: flex;  
    flex-direction: row;
    align-items: center; 
    font-family: "Roboto";
} 
.names:hover{ 
    color: blue;

} 
.rate{
    color: black; 
    font-weight: 500;
}