.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.layout{
  display: flex; 
  
}  
@media (max-width:767px){
  .layout{
    display: flex;  
    flex-direction: column;
    
  }
}
.mainLine{
  color:#282c34; 
  margin-left: 2px; 
  margin: 20px;
}  
.show{
  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  width:200px;
}
@media (min-width:768px){
  .show{
    display: none; 

  }
}  

@media (min-width:768px){
.medium{
  display: none;
} 
} 
.showMedium{
  display: none;
} 
@media (min-width:768px){
  .showMedium{
    display: block;
  }
} 
.nameAndDate{
  display: flex; 
  justify-content: space-between;
} 
 
.namesetting{
  display: flex; 
  align-items: center;
} 
@media (max-width:767px){
  .mediumChart{
    display: none;
  }
} 

.small{
  display: block;
} 
@media (min-width:768px){
  .small{
    display: none;
  }
} 